body{
    background-color: #25274d;
}
.box{
    padding-top: 80px;
    padding-bottom: 30px;
    background-color: #fcf6f6;
} 
.loginBtn{
    height: 41px;
    background-color: #eebbc3;
    width: 103px;
    border-radius: 7px;
    border: none;
    color: #232946;


}
.loginBtn:hover{
    background: #ff91a4;
    color:black;
  }
.contact{
    padding-top: 144px;
    height: 400px;
    background-color: #fcf6f6;
}
.col-md-3{
    padding: 4%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    background-color:rgba(0,0,0,0.589);
}
.contact-info{
    margin-top:10%;
   
}
.contact-info img{
    margin-bottom: 15%;
}
.contact-info h2{
    margin-bottom: 10%;
}
.col-md-9{
    background: rgb(233, 182, 89);
    padding: 3%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.contact-form label{
    font-weight:600;
}
.contact-form button{
    background: #25274d;
    color: #fff;
    font-weight: 600;
    width: 25%;
}
.contact-form button:focus{
    box-shadow:none;
}