body{
    background-color: #fcf6f6;
}
/* .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 700px;
    background-color: #fcf6f6;
} */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: rgb(245,240,240) !important;
    /* height: 200vh; */
}
.header{
    width:100% ;
    height: 100vh;
}
.text-container{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.nav_bar-top{
    background-color: #fcf6f6;
    width: 100%;
    height: 16vh;
    padding: 26px;
}
.text-content{
    display: flex;
    align-items: center;
}
.para-text{
    margin-bottom: 0px;
    font-size: 17px;
    color: rgba(0,0,0,0.589);
    font-weight: 500;
    margin: 0px 4px;
}
.span-text{
    padding: 0px 6px;
}
.icon-social{
    color:rgb(244,0,0);
    font-size: 21px;
    padding: 0px 5px;
    margin: 0px 7px;
    cursor: pointer;
}
.icon-social:hover{
    color:rgb(117,6,6);
}
.navbar-container{
    position: absolute;
    top: 70px;
    left: 52px;
    width: 90%;
    background-color: white;
    padding: 16px 38px;
    z-index: 55;
}
.heading-logo{
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0px;
}
.heading-logo span{
    color: rgb(233, 154,8);
}
.nav-item .nav-link{
    color: rgba(8, 8, 8, 0.685);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
}
.nav-item .nav-link:hover{
    color: rgba(255, 102, 0,0.911);
}
.loginBtn{
    height: 41px;
    background-color: #eebbc3;
    width: 103px;
    border-radius: 7px;
    border: none;
    color: #232946;

}
.last{
    background-color: #232946;
    color: #c0c3d4;
    text-align: center;
    padding-bottom: 20px;
    border-top:2px #c0c3d4;
}
.container-fluid{
    background-color: #fcf6f6;
}
footer{
    width: 100%;
    /* height: 90vh; */
    background-color: rgb(31,29,29);
    padding: 24px;
    margin-top: 20px;
}
.footer-container{
    margin-top:20px;
    padding: 30px 4px 9px 4px;

}
.footer-logo{
    color: rgba(255,255, 255,0.863);
    letter-spacing: 2px;
    font-weight: 800;
}
.footer-para{
    font-size: 14px;
    line-height: 30px;
    color: rgba(255,255,255,0.534);
    margin: 25px 0px;
}
.heading-sm-footer{
    color: rgb(255,255,255,0.863);
    font-size: 22px;
    letter-spacing: 4px;
    font-weight: 700;
    margin: 18px 0px;    

}
.social-link-footer{
    margin: 16px 0px;

}
.icon-social-footer{
    font-size: 21px;
    padding: 9px;
    border: 1px solid rgb(13, 196, 13);
    color: rgb(13, 196, 13);
    margin: 0px 4px;
    cursor: pointer;
}
.icon-social-footer:hover{
    background-color: rgb(13, 196, 13);
    color: white;
}
.heading-pages{
    color: rgba(255,255,255,0.863);
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: 700;
    margin-bottom: 18px;
}
.footer-links{
    font-size: 15px!important;
    color: rgba(255,255,255,0.863)!important;

}
.footer-links:hover{
    color: white;
}
.contact-footer{
    display: flex;
    flex-direction: column;
}
.text-contact{
    margin: 16px 0px;
    color: white;
    font-size: 19px;
    color: rgba(255,255,255,0.534);
}
.footer-icons{
    font-size: 19px;
    color:rgba(255,255,255,0.863); 
    padding: 0px 9px;
}
.footer-rights{
    /* margin-top: 22px; */
    border-top:1px solid rgba(255,255,255,0.32) ;
    width: 100%;
    /* height: 100px; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.rights-para{
    margin: 0px;
    color: rgba(255,255,255,0.623);
    font-size: 16px;
    
}
.btn-home{
    /* display: inline-block; */
    padding: 6px 10px;
    background-color: rgb(209, 95,2);
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 600px;
    margin: 28px 0px 0px 0px;
    text-transform: uppercase;
    border-radius: 32px;
    transition: 0.2s ease-in;
}
.btn-home:hover{
    background-color: rgb(229, 120,22);
}
.btn-home{
    display: inline-block;
    padding: 18px 38px;
    background-color: rgb(209, 95,2);
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 600px;
    margin: 28px 0px 0px 0px;
    text-transform: uppercase;
    border-radius: 32px;
    transition: 0.2s ease-in;
}
.btn-home:hover{
    background-color: rgb(229, 120,22);
}